.pg-wrapper{
    padding: 0 16px;
    max-width: calc(1200px + 128px );
    margin-left: auto;
    margin-right: auto ;
}

.gs-navbar{
    max-width: calc(1210px + 128px )!important;

}

.pg-flex{
    display: flex;
}

.text-center{
    text-align: center;
}
.pg-f-row{
    flex-direction: row;
}
.pg-f-col{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}
.pg-justify-content-start{
    justify-content: flex-start;
}

.pg-justify-content-end{
    justify-content: flex-end;
}

.pg-justify-content-beetween{
    justify-content: space-between;
}

.pg-justify-content-center{
    justify-content: center;
}

.pg-align-items-start{
    align-items: start;
}

.pg-bold{
    font-weight: 600;
}
.pg-align-items-end{
    align-items: end;
}

.pg-align-items-center{
    align-items: center;
}

.pg-d-inl-block{
    display: inline-block;
}

.pg-mg-center{
    margin: 0 auto;
}

.pg-w-50{
    width: 50%;
}

.post-card{
    border-radius: 14px;
    width:350px;

    overflow: hidden;
    background-color: var(--dirty-white);
}

.post-thumbnail{
    width: 100%;
    height: 250px;
}

.post-content h3{
    color: var(--darker-main-5);
}

.post-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-content{
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
    padding: 16px;
    font-size: 1rem;
    
}
.date-card{
    text-align: right;
}
h1{
    font-size: 3rem;
    font-family: var(--gothic-demi);
}
h2{
    font-family: var(--gothic-demi);
    font-size: 2rem ;
}
h3{
   font-size: 1.5rem;
}
@media (min-width: 992px){
    .pg-wrapper{
        padding:0 32px ;
    }
    h1{
        font-size: 4rem;
        font-family: var(--gothic-demi);
    }
    h2{
        font-family: var(--gothic-demi);
        font-size: 2.5rem ;
    }
    h3{
       font-size: 2rem;
    }
}
@media (min-width: 1200px){
    .pg-wrapper{
        padding:0 48px ;
    }
    
}


